@model List<Employee>

    <h2>List of Employees</h2>
<table border="1">
    <tr>
    <th>Employee ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    </tr>
    @foreach (Employee employee in Model)
    {
<tr>
    <td>@employee.EmployeeID</td>
    <td>@employee.FirstName</td>
    <td>@employee.LastName</td>
    <td>@employee.Title</td>
</tr>
    }
</table>